.social-login
    button.social-login__github
        span
            i.fab.fa-github
        | Continue with Github
        //- |를 써줘야 태그가 아닌 텍스트로 인식
            button
    button.social-login__facebook
        span
            i.fab.fa-facebook
        | Continue with Facebook